@model LoginViewModel
@{
    // Layout = "_Layout.cshtml";
    TempData["Title"] = "صفحه ورود";
}

<!--Login-->
<section class="section pt-55 mb-50">
    <div class="container">
        <div class="sign widget ">
            <div class="section-title">
                <h5>ورود به حساب</h5>
            </div>
            <form asp-action="Login" class="sign-form widget-form " method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="ایمیل *" asp-for="@Model.Emai">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="رمز عبور *" asp-for="@Model.Password">
                </div>
                <div class="sign-controls form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="@Model.IsAdmin">
                        <label class="custom-control-label" asp-for="@Model.IsAdmin">ادمین هستم</label>
                    </div>
                    <a href="#" class="btn-link  ml-auto">رمز عبور خود را فراموش کرده اید؟</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-custom">ورود به حساب</button>
                </div>

                <p class="form-group text-center">حساب کاربری ندارید؟ <a asp-action="Register" class="btn-link">ثبت نام کنید</a></p>

            </form>
        </div>
    </div>
</section>